/* ========== UTILITY CSS START ========== */
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

.btn a {
    color: white;
    padding: 10px 24px;
    background: #E02C6D;
    border-radius: 6px;
    transition: all 0.2s ease-in;
}

.btn a:hover {
    background: #ec2a71;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.35);
    transform: translateY(-1px);
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 40px;
}
/* ========== UTILITY CSS END ========== */


/* ========== HEADER START ========== */
header {
    background: #2D25A0;
    display: flex;
    justify-content: center;
}

.header-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 42px 0;
}

nav {
    position: static;
    display: flex;
    background: transparent;
    padding: 5px 10px;
}

.header-body nav a {
    position: relative;
    margin-right: 34px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    padding: 0 2px;
}

.header-body nav a::after {
    content: '';
    background: white;
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -1px;
    transform: scaleX(0);
    transition: all 0.2s ease-in;
}

.header-body nav a:hover::after {
    transform: scaleX(1);
}

.login-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-btn a i {
    margin-right: 8px;
}

.toogle-btn {
    display: none;
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.toogle-btn img {
    width: 100%;
    height: 100%;
    display: block;
    margin: auto auto;
}

.toogle-btn img:hover nav {
    display: flex;
}
/* ========== HEADER END ========== */


/* ========== HERO SECTION START ========== */
.hero {
    background: #2d25a0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-body {
    display: flex;
    justify-content: space-between;
}

.hero-info, .hero-img {
    width: 40%;
}

.hero-img {
    position: relative;
}

.hero-img .stricker {
    width: 100%;
    display: block;
    transition: all 0.3s ease-in-out;
}

.hero-img .football {
    display: inline-block;
    width: 9%;
    position: absolute;
    top: 15.2%;
    left: 3%;
    transition: all 0.6s ease-in-out;
}

.hero-img:hover .stricker {
    transform: scale(1.05);
}

.hero-img:hover .football {
    transform: scale(1.1) translate(10px, 20px) rotate(180deg);
}

.hero-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-info h1 {
    color: #fff;
    font-size: 4em;
    font-weight: bold;
    margin-bottom: 27px;
}

.hero-btn {
    display: flex;
    align-items: center;
    margin-bottom: 34px;
}

.hero-btn i {
    margin-left: 8px;
}
/* ========== HERO SECTION END ========== */


/* ========== PLAYERS SECTION START ========== */
.players {
    display: flex;
    justify-content: center;
}

.players-body {
    display: grid;
    grid-template-columns: repeat(3, 330px);
    grid-gap: 27px 30px;
    justify-content: center;
    margin: 70px 0;
}

.player {
    padding: 15px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    border-radius: 13px;
}

.player-img{
    width: 100%;
    border-radius: 7px;
}

.player-name {
    margin: 16px 0 10px;
    font-size: 28px;
    font-weight: 700;
    color: #18191F;
}

.player-info {
    font-size: 16px;
    font-weight: 400;
    color: #6C6C6C;
}
/* ========== PLAYERS SECTION END ========== */


/* ========== HIGHLIGHTS SECTION START ========== */
.highlights {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 95px 0 140px;
}

.highlights-body {
    display: flex;
    justify-content: space-between;
}

.highlight-info, .highlight-img {
    width: 40%;
}

.highlight-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-img {
    position: relative;
}

.highlight-img .stricker {
    width: 100%;
    display: block;
    transition: all 0.3s ease-in-out;
}

.highlight-img:hover .stricker {
    transform: scale(1.05);
}

.highlight-info h1 {
    color: #000;
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 27px;
}

.highlight-info p {
    color: #6C6C6C;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

.highlight-btn {
    display: flex;
    align-items: center;
}

.highlight-btn i {
    margin-left: 8px;
}
/* ========== HIGHLIGHTS SECTION END ========== */


/* ========== VS SECTION START ========== */
.vs {
    display: flex;
    justify-content: center;
    margin-bottom: 140px;
}

.vs h1 {
    color: #221f1f;
    font-size: 42px;
    font-weight: 700;
}

.vs h2 {
    font-size: 36px;
    font-weight: 500;
}

.vs-body {
    max-width: 600px;
    width: 100%;
}

.team-names {
    background: #333333;
    color: white;
    padding: 16px;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}

.teams {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
    background: #e7e7e7;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
}

.team {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
}

.team img {
    width: 80%;
    display: block;
    margin: 0 auto;
}
/* ========== VS SECTION END ========== */


/* ========== NEWSLETTER START ========== */
.newsletter {
    display: flex;
    justify-content: center;
    margin-bottom: 140px;
}

.newsletter h2 {
    color: #221f1f;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}

.newsletter {
    margin: 70px 0;
}

.newsletter-body {
    display: flex;
    justify-content: space-between;
}

.newsletter-info, .newsletter-img {
    width: 45%;
}

.newsletter-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.newsletter-info form {
    display: flex;
    flex-direction: column;
    padding-right: 50px;
}

.newsletter-info form input {
    padding: 10px 24px;
    border: none;
    outline: none;
    box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.2),
    inset -1px -2px 5px rgba(83, 83, 83, 0.2);
    border-radius: 16px;
    font-size: 16px;
}

.newsletter-info label {
    font-size: 18px;
    font-weight: 500;
    margin-left: 9px;
}

.submit-btn {
    width: 96px;
    padding: 10px 24px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 16px;
    margin-top: 20px;
    background: #ec2a71;
    cursor: pointer;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.452);
}

.newsletter-img {
    display: flex;
    justify-content: center;
}
/* ========== NEWSLETTER END ========== */


/* ========== FOOTER START ========== */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-logo {
    margin-bottom: 20px;
}

.footer-logo img {
    width: 33%;
    display: block;
    margin: 0 auto;
}

.social-icons a {
    margin: 0 7px 20px;
}

.social-icons a i {
    color: #6C6C6C;   
}

.copyright {
    color: #000;
    font-size: 18px;
    font-weight: 400;
}
/* ========== FOOTER END ========== */


/* ========== RESPONSIVE START ========== */

/* ========== 1176PX ========== */
@media (max-width: 1176px) {
    .hero-info h1 {
        font-size: 2em;
    }
}


/* ========== 1052PX ========== */
@media (max-width: 1052px) {
    .players-body {
        grid-template-columns: repeat(2, 330px);
    }

    .highlight-info h1 {
        font-size: 2em;
    }

    .newsletter h2 {
        font-size: 24px;
    }

    .highlights {
        margin: 50px 0 80px;
    }
}


/* ========== 868PX ========== */
@media (max-width: 868px) {

    .toogle-btn{
        display: block;
        position: relative;
    }
    nav {
        display: none;
        position: absolute;
        flex-direction: column;
        background: rgb(0 0 0 / 85%);
        padding: 0px 0;
        top: 21px;
        left: 68px;
        border-radius: 11px;
        overflow: hidden;
    }

    .toogle-body:hover .active {
        display: flex;
    }

    .header-body nav a {
        position: relative;
        font-size: 16px;
        font-weight: 500;
        color: #fff;
        padding: 4px 8px;
        margin: 0;
    }

    .header-body nav a:hover {
        background: #d3d3d3;
        color: #18191F;
    }

    .header-body nav a::after {
        display: none;
    }

    .btn a {
        padding: 5px 10px;
    }

    .header-body {
        padding: 20px 0
    }

    .highlight-info, .highlight-img {
        width: 50%;
    }

    .highlight-info h1 {
        margin-bottom: 6px;
    }
}


/* ========== 735PX ========== */
@media (max-width: 735px) {
    .players-body {
        grid-template-columns: repeat(2, 260px);
    }

    .highlight-info h1 {
        font-size: 1.2em;
    }

    .highlight-info p {
        margin-bottom: 6px;
        font-size: 14px;
    }

    .hero-info, .hero-img {
        width: 50%;
    }

    .vs-body {
        max-width: 450px;
    }
}


/* ========== 676PX ========== */
@media (max-width: 676px){
    .newsletter-img {
        display: none;
    }

    .newsletter-info {
        width: 100%;
    }

    .newsletter-body {
        justify-content: center;
    }
}


/* ========== 576PX ========== */
@media (max-width: 576px) {
    .container {
        margin: 0 15px;
    }

    .hero-body {
        flex-direction: column;
    }

    .hero-info, .hero-img {
        width: 100%;
    }

    .hero-info h1 {
        font-size: 1.5em;
    }

    .players-body {
        grid-template-columns: repeat(1, 330px);
        margin-top: 20px;
    }

    nav {
        top: 21px;
        left: 45px;
    }

    .player-name {
        font-size: 24px;
    }

    .player-info {
        font-size: 14px;
    }

    .highlight-btn {
        margin-bottom: 20px;
    }

    .vs-body {
        max-width: 90%;
    }

    .vs h1 {
        font-size: 28px;
    }

    .vs h2 {
        font-size: 24px;
    }

    .highlights-body {
        flex-direction: column;
    }

    .highlight-info, .highlight-img {
        width: 100%;
    }

    .footer-logo img {
        display: block;
        margin: 0 auto;
    }

    .copyright {
        font-size: 12px;
    }
}


/* ========== 360PX ========== */
@media (max-width: 360px) {
    .players-body {
        grid-template-columns: repeat(1, 1fr);
    }

    .player {
        margin: 0 10px;
    }
}
/* ========== RESPONSIVE END ========== */